.calculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

p {
  margin-bottom: 10px;
  color: #666;
}

#totalIncomeDisplay {
  font-weight: bold;
  color: #000;
}

#taxRateTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#taxRateTable th,
#taxRateTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#calculateTaxBtn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#taxResult,
#amountLeftDisplay {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}
